@import "../sass/settings/colors";
@import "../sass/settings/fonts";
@import "../sass/settings/mixins";

.logoutDiv {
  display: flex;
  flex-direction: column;
  width: 700px;
  margin: auto;
  justify-content: center;
  align-items: center;

  h2 {
    font-size: 2.2rem;
    font-family: $font-alt;
    font-weight: 100;
    margin-top: 100px;
    text-align: center;
  }

  .line {
    @include line;
    margin-top: 20px;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-top: 30px;
    margin-bottom: 30px;

    a {
      margin: auto;
    }
  }
}

.logoutBTN {
  @include BTN;
  font-size: 1.5rem;
  width: 250px;
  height: 50px;

  &:focus {
    border: 1px solid $color-gray;
  }
}
